files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_storage_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
        chmod -R 777 /var/app/current/storage

  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_bootstrap_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      chmod -R 775 /var/app/current/bootstrap